@media screen and (max-width: 600px){
    body{
        background-color: rgb(53, 63, 63);

    }
    .col{
        flex: 100%;
        width: 100%;
    }
    .btn{
        width: 100%;
        margin: 2px 0px;
    }

    .form-check{
        flex: 100%;
        width: 100%;
        margin: 3px;
    }
}