
body{
    background-color: rgb(96, 132, 187);
}
.w-auto{
    color: cornsilk;
}
.form-check-label{
    color: cornsilk;
}
.form-check{
    color: cornsilk;
}
.form-label{
    color: cornsilk;
}
#Pedidos {
    background-color: rgb(207, 231, 247);

}